<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@iAmGargoyle" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Params.ogSummary | default "A Blog Article" }}" />
    <meta property="og:image" content="{{ .Params.ogImageUrl | default "" }}" />

    <meta name="keywords" content="">
    <meta name="description" content="">




    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400|Exo:400|Audiowide">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/fa-all.min.css">

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/highlight.min.css">
    <script src="/js/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script async defer data-domain="paulcourt.co.uk" src="https://plausible.io/js/plausible.js"></script>
</head>